body {
  margin: 0;
  font-family: sans-serif;
 
}

header {
  background-color: #2563eb;
  color: white;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.header-title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 0.1rem;
  background-color: #444;
  color: #fff;
}


.user-icon {
  font-size: 24px;
  padding: 10px;
  color: #0098a5;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content-wrapper {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  padding: 1rem;
}

.sidebar {
  width: 250px;
  background-color: #f3f3f3;
  padding: 1rem;
  border-right: 1px solid #ccc;
}



.sidebar li {
  margin-bottom: 10px;

}

.sidebar a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
  text-align: left;
}

.sidebar a:hover {
  background-color: #0098a5;
  color: #fff;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu>li {
  margin-bottom: 10px;
}

.menu-item {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  padding: 8px;
  font-size: 1rem;
  cursor: pointer;
  color: #333;
  display: block;
}

.menu-item:hover {
  background-color: #ddd;
}

.submenu {
  list-style: none;
  padding-left: 1rem;
  padding-top: 4px;
}

.submenu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #444;
}

.submenu li a:hover {
  background-color: #0098a5;
  color: #fff;
}

.menu-icon-open {
  background-color: coral;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}

.breadcrumd {
  border-bottom: 2px solid #0098a5;
  padding: 5px;
  text-align: left;
}

.inner-page {
  padding: 20px;
  text-align: left;
}

.icon-left {
  color: #00579C;
}
.toggle-buttons {
  display: flex;
  background: #ddd;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 15%;
}

.toggle-buttons input[type="radio"] {
  display: none; 
}

.toggle-buttons label {
  flex: 1;
  padding: 12px 0;
  text-align: center;
  cursor: pointer;
  z-index: 2;
 
  color: #555;
  transition: all 0.3s ease;
}

#add:checked ~ label[for="add"],
#view:checked ~ label[for="view"] {
  background-color: #0098a5;
  color: white;
}

input,select {
  width: 100%;
  padding: 10px 14px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  
  transition: border-color 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
  outline: none;
  background-color: #e1e1e1;
}

input:focus {
  border-color: #3498db;
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.2);
}
input:hover {
  border-color: #3498db;
}
input::placeholder {
  color: #aaa;
  font-style: italic;
}
.btn {
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 5px;
}

.btn-primary {
  background-color: #3498db;
  color: white;
}
.btn-primary:hover {
  background-color: #2980b9;
}

.btn-secondary {
  background-color: #95a5a6;
  color: white;
}
.btn-secondary:hover {
  background-color: #7f8c8d;
}

.btn-danger {
  background-color: #e74c3c;
  color: white;
}
.btn-danger:hover {
  background-color: #c0392b;
}
.error-text {
  color: #d9534f;
  font-size: 15px;
  margin-top: 5px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* دو ستون مساوی */
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}
.form-group label{
  padding: 5px;
  font-size: 14px;
}

.content-div{
  margin-top: 50px;
}



